Flask
Werkzeug
requests
ffmpeg-python
openai>=1.40
gunicorn
APScheduler
srt
numpy
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-api-core
google-cloud-storage
google-cloud-run
psutil
boto3
Pillow
matplotlib
yt-dlp